{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Now we begin...
{% endblock %}


{% block content %}

<p>You have completed the practice rounds and your earnings have been reset. All rounds from this point
will be considered "real" rounds and will form the basis for your final payment.</p>

    <p>Please alert the experimenter at this time if you have any questions. Once instructed, please begin by
    clicking the "Begin Real Rounds" button.</p>

    <input type="submit" value="Begin Real Rounds" class="btn btn-primary btn-large btn-primary next-button pull-left">

{% endblock %}
