{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Some Preliminary Instructions:
{% endblock %}

{% block content %}

    <p>The instructions will take a while to complete, but are necessary for you to complete the study. There will
       be a quiz following the instructions. If you do not get all 10 questions correct after three attempts, you
       will not be able to proceed with the study. Although we will provide you a $10 show-up fee, you will forfeit
       your ability to earn additional compensation. If you successfully complete the quiz and proceed to the trials,
       the amount of cash you receive will be based on your relative performance in today's study. All participants,
       regardless of performance or participation in the trials, receive a $10 show-up fee. Based on the RELATIVE
       rankings of all session participants, the highest RELATIVE scoring player will receive an additional $10 in
       compensation. The 2nd highest RELATIVE scoring player will earn $9, and so on. Therefore, the potential earnings
       in this study range from $11 to $20 dollars.</p>

<p>The instructions that follow on the next few pages provide all the information you need to complete the study.
All participants in this session receive exactly the same instructions. If you have any questions while reviewing
    these instructions, please direct those questions to the supervisors.</p>

<p>This study has the following five parts:

    <div>1. Instructions</div>
    <div>2. A short quiz on the instructions</div>
    <div>3. 50 rounds of business decision making (including 5 practice rounds)</div>
    <div>4. A short questionnaire</div>
    <div>5. The payment of earnings</div></p>

<p>To insure the validity of this study, please do not discuss this study with anyone until January 1st, 2018.</p>

    {% next_button %}

{% endblock %}
