<p>Procedures for Each Round </p>

<div>The following is a brief review of the steps you will take each round of this study.</div>

<p></p>Step 1. A box of baked goods is delivered to the Café.

<div>A daily shipment of 100 baked goods contains a mix of croissants and muffins, with an equal probability
of any mix other than 100% of one item or the other. You will take a sample of goods in the box and count the number
of croissants. You will use the ratio of croissants counted to the number of goods sampled to estimate the contents
of the box. </div>

<p></p>Step 2. You are provided with a bill of lading that describes the contents of the box.

<div>There is an equal chance that the bill of lading is correct or incorrect. A correct bill of lading approximates
the quantity of croissants in the box by a +/- 5 item margin. An incorrect bill of lading lists a quantity for
croissants that is greater or less than the true quantity by more than 5 items. </div>

<p></p>Step 3. You take a sample of items from the box.

<div>At this point, you decide how many of the items to sample. The sample size can be any value between 0 and 30
and it costs you 1 dollar for each item examined. You will then be given the sample results and told what the
estimated quantity of croissants is. If the sampling results suggest the bill of lading is correct, you will
automatically accept the shipment. If the sampling results suggest the bill of lading is incorrect, you will
automatically reject the shipment. If you choose to sample 0 items, you will automatically accept the shipment.</div>

<p></p>Step 4. Observe sampling results and net round earnings.

<div>The results of your sampling decisions will be computed and revealed on the screen, along with a
computation for your net round earnings. These steps will be repeated for 50 rounds, including 5 practice rounds
which will NOT count towards your earnings.</div>

<p></p>The results of your practice rounds will <strong>NOT</strong> affect your actual earnings for this session.


<p></p>
